@model Books_WebApp.Models.Book

@{
    ViewBag.Title = "Details";
}

<div>
    <h4 class="text-primary">Book</h4>
    <hr />
    <div class="row">
        <div class="offset-4 col-md-6">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Title)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Title)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Author)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Author)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Created)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Created)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CategoryId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Categories.Name)
                </dd>

            </dl>
            <div class=" mb-3">
                <div class="">
                    <div class="form-group">
                        <div class="d-inline-block">
                            <a href="@Url.Action("Index","Book")" class="btn btn-secondary my-4"><i class="icofont-duotone icofont-reply"></i> Back to List</a>
                        </div>
                        <div class="d-inline-block">
                            <a href="@Url.Action("Edit", "Book", new { id = Model.Id } )" class="btn btn-warning"><i class="icofont-edit"></i> Update</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

